* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* main{
    padding: 175px 307px
} */
.btn-primary {
    height: 57px;
    background-color: #FF5959;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 16px 20px;
    margin-bottom: 50px;

}

/* header section style */

.header-section {
    background-image: url(images/donation0.jpg), linear-gradient(to bottom, rgba(185, 185, 185, 0.185), rgb(0, 0, 0));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 175px 307px;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;

}

.header-description {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 50px;

}

/* main section styles */

section {
    padding: 0 156px;
    /* margin-bottom: 130px; */
}

/* donate section style */

.main-section {
    margin-top: 130px;
    text-align: center;

}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
    padding: 0 30px;
}

.donate-now {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.amount {
    background-color: #FAFAFA;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    border-radius: 5px;
    padding: 44px 24px;
    margin-bottom: 60px;
}

#selected {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.pay-now {
    text-align: center;

}

.pay-now-title {
    color: #B3B3B3;
    font-size: 18px;
}

.hr {
    color: #DADADA;
    text-align: center;
    padding: 0 250px;
    margin-bottom: 30px;
}

/* plan section design */

.plan-section {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.plan {
    padding: 65px 23px 55px;
}

.plans-title {
    margin-top: 32px;
    margin-bottom: 16px;
    color: #121212;
    font-weight: 600;
    font-size: 24px;
}

.plans-description {
    color: #707070;
}

#food {
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

#shelter {
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

#education {
    background-color: #FFF4D6;
    border-radius: 5px;
}

/* contribute section style */
.how-to-contribute {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 83;

}

.how-to-contribute img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 100px;
}

.how-to-contribute p {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
    /* padding: 0 30px; */
}

/* email part style */
.subscribe {
    text-align: center;
}

.email {
    padding: 76px 188px;
    text-align: center;
    background-color: #FFF4D6;

}


.email input[type="email"] {
    padding-left: 30px;
    width: 300px;
    height: 50px;
    border: 0;
    background-color: #D9D9D9;
    color: black;
    border-radius: 10px 0px 0px 10px ;
}
.email input[type="button"] {
    margin: 0px 0px 0px -5px;
    height: 50px;
    border-radius: 0px 10px 10px 0px ;
}
.btn {
    height: 57px;
    background-color: #FF5959;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 14px 43px;
    border-left: none;
}

/* footer style*/
footer {
    background-color: #0B0D17;
    margin-top: 130px;
}

footer h3 {
    font-family: 'Lobster';
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    color: #FF5959;
    padding: 30px 0;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
    text-align: center;
    padding-bottom: 30px;
}

.hide{
    display: none;
}

/* Responsive design */
@media screen and (max-width:576px) {
    .header-section{
        padding: 0;
        background-image: url(images/donation0.jpg), linear-gradient(to top, rgba(185, 185, 185, 0.185), rgb(74 73 73));
        margin-bottom: 20px;
    }
    section, 
    .email {
        padding: 0;
    }
    .hr{
        padding: 10px;
    }
    .donate-now{
        flex-direction: column;
        align-items: center;
    }
    .plan-section{
        flex-direction: column;
        padding: 20px;
    }
    .how-to-contribute{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .how-to-contribute img{
        width: 100%;
        margin: 20px 0;
    }
    .reverse{
        flex-direction: column;
    }
    .email input[type="email"] {
        width: 165px;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .header-section{
        padding: 0;
        background-image: url(images/donation0.jpg), linear-gradient(to top, rgba(185, 185, 185, 0.185), rgb(74 73 73));
        margin-bottom: 20px;
    }
}